---
import type React from "react";
import { Heading } from "../ui/heading";
import Tilt from "react-parallax-tilt";
import BoxReveal from "../ui/box-reveal";
import { Parallax, ParallaxProvider } from "react-scroll-parallax";

interface Props {
  text?: string;
  title: string;
  subtitle?: string | React.ReactNode;
  subtitleText?: string;
  children?: React.ReactNode;
  fullHeight?: boolean;
  img?: string;
}

const {
  title,
  subtitle,
  text,
  subtitleText,
  fullHeight = false,
  img,
} = Astro.props;
---

<section
  class={`bg-gray-50 dark:bg-gray-900 ${fullHeight ? "min-h-screen" : "pt-24 pb-8"} flex items-center`}
>
  <div class={`container mx-auto px-4 ${img && "flex"}`}>
    <div class="mx-auto self-center flex-1">
      {
        text && (
          <Heading level="h6" className={`!text-xl  !pt-0 !text-left  mb-3`}>
            {text}
          </Heading>
        )
      }

      <Heading
        level="h1"
        gradient
        shadow
        className={`${fullHeight ? "!text-3xl md:!text-5xl" : "text-4xl md:!text-5xl"} mb-3 !pt-0 !text-left`}
      >
        {title}
      </Heading>
      {
        subtitle && (
          <p
            class={`${fullHeight ? "font-bold text-xl md:text-2xl" : "text-xl"} text-black dark:text-white mb-2 `}
          >
            {subtitle}
          </p>
        )
      }
      {
        subtitleText && (
          <p class={` text-gray-600 dark:text-gray-400 max-w-sm mb-6`}>
            {subtitleText}
          </p>
        )
      }
      <slot />
    </div>
    {
      img && (
        <div class="mx-8 flex-1">
          <Tilt
            client:load
            perspective={1000}
            className="portfolio-hero-image-tilt"
            glareEnable={true}
            glareMaxOpacity={0.8}
            glareColor="#ffffff"
            glarePosition="bottom"
            glareBorderRadius="20px"
          >
            <div>
              <img src={img} class="w-full rounded-lg shadow-lg" />
            </div>
          </Tilt>
        </div>
      )
    }
  </div>
</section>
