---
import { AnimatedScrollSection } from "../components/AnimatedScrollSection";
import Hero from "../components/hero/Hero.astro";
import PageHero from "../components/hero/PageHero.astro";
import sections from "../components/sections.json";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Styleguide">
  <Hero title="Selected Works" fullHeight={true} text="Hey! ✌️ I'm" />
  <div class="container mx-auto px-4">
    {
      sections.map((section, index) => (
        <AnimatedScrollSection
          titleUp={section.titleUp}
          titleDown={section.titleDown}
          imageSrc={section.imageSrc}
          text={section.text}
          layout={section.layout}
          imageWidth={section.imageWidth}
          imageHeight={section.imageHeight}
          client:load
        />
      ))
    }
  </div>
</Layout>
