---
import React from "react";
import Hero from "../components/hero/Hero.astro";
import Link from "@/components/Link";
import { getPortfolioData, getPortfolioItems } from "@/utils/data";
import FlickeringGrid from "@/components/ui/flickering-grid";

const { contact } = await getPortfolioData();
const portfolioItems = await getPortfolioItems();
let primaryColor = "#ff8f0c";
primaryColor = "#8b5cf6";
---

<div class="w-[99%] z-0 absolute leading-snug">
  <FlickeringGrid
    className="z-0 relative inset-0 [mask-image:radial-gradient(450px_circle_at_center,white,transparent)]"
    squareSize={4}
    gridGap={6}
    color={primaryColor}
    maxOpacity={0.5}
    flickerChance={0.1}
    height={1000}
    width={1200}
    client:load
  />
</div>
<Hero
  title={contact.name}
  subtitle={contact.role}
  subtitleText={contact.description}
  fullHeight={true}
  text="Hey! ✌️ I'm"
>
  <React.Fragment>
    <div class="flex gap-4">
      <Link href="/portfolio" text="View My Work" />
      <Link href="/contact" text="Get in Touch" />
    </div>
    <div>
      <ul class="mt-4 flex align-items-start">
        <li class="hero-info-item">
          <div class="flex align-items-center">
            <h3 class="text-4xl font-bold">
              <span class="font-bold gradient-text"
                >{contact.yearsOfExperience}</span
              >
            </h3>
            <h6
              class="leading-tight border-l pl-2 ml-2 text-sm border-primary-500 text-gray-800 dark:text-gray-400"
            >
              Years <br />of Experience
            </h6>
          </div>
        </li>
        <li class="hero-info-item ml-8">
          <div class="flex align-items-center">
            <h3 class="text-4xl">
              <span class="font-bold gradient-text"
                >{portfolioItems.length}</span
              >
            </h3>
            <h6
              class="leading-tight border-l pl-2 ml-2 text-sm border-primary-500 text-gray-800 dark:text-gray-400"
            >
              Projects <br />Completed
            </h6>
          </div>
        </li>
      </ul>
    </div>
  </React.Fragment>
</Hero>
